@import '../../scss/variables';
// .login-wrapper {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
// }
.login-container {
  width: 376px;
  @include respond-to('768') {
    width: 768px;
  }
  @include respond-to('414') {
    width: 414px;
  }
  @include respond-to('320') {
    width: 320px;
  }
  @include respond-to('271') {
    width: 270px;
  }
}

.login-title-sm {
  font-size: 0.8rem;
  width: 80%;
}
.bg-header-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
  &::before {
    content: '';
    position: absolute;
    background: $orange;
    margin-top: -35%;
    width: 100%;
    height: 55%;
  }
  .bg-header {
    background: $orange;
    transform: skewY(10deg);
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: -30%;
    @include respond-to('768') {
      margin-top: -10%;
    }
  }
  img{
      position: relative;
      z-index: 1;
  }
}

.link-elem{
    font-size: .7rem;
}
