html{
    overflow-x: hidden;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a:focus{
    outline: none!important;
}
input, textarea{
    border: 0;
    background: transparent;
}
button{
    border: 0;
}

p{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: unset;
}
figure{
    margin: 0;
}

textarea {
    resize: none;
}
